@model IEnumerable<Historico.cls_Historico.HistoryTrailerInformation>

@{
    ViewBag.Title = "History Page";
}

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        pantalla = document.getElementById("screen");
    }
</script>
<script src="~/app-assets/js/core/libraries/jquery.min.js"></script>
<script language="javascript" type="text/javascript">


    function exportTableToExcel(tableID, filename = 'Trailer Information History') {

        var es_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
        if (es_chrome) {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

            // Specify file name
            filename = filename ? filename + '.xls' : 'excel_data.xls';

            // Create download link element
            downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);


            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();

        }
        else
            var downloadLink;
        var dataType = 'application/ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace('%20', 'ufeff');

        // Specify file name
        filename = filename ? filename + '.xls' : 'excel_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        }



    }

</script>
<div class="content-wrapper">

    <div id="contenido" class="content-body">
        <section id="dashboard-ecommerce" style="margin-top:150px;">
            <div class="row">
                <div class="col">
                    <div class="col-xl-12 " style="position: relative;
                                top: -150px;
                                color: black;">
                        <div class="card marketing-campaigns">
                            <div class="card-header d-flex justify-content-between  pb-1">
                                <div class="card-header">
                                    <!-- head -->
                                    <div>
                                        <h5 class="card-title">Trailer Information History</h5>
                                    </div>
                                    <!-- Filtros -->
                                    <div class="heading-elements">


                                        <form method="get" action="@Url.Action("Datefilter", "Home")">
                                            <ul class="list-inline mb-0">
                                                <li>
                                                    <fieldset class="has-icon-left">
                                                        <input type="text" id="inicio" name="inicio" value="@ViewBag.fin" class="form-control single-daterange" />
                                                        <div class="form-control-position">
                                                            <i class="bx bx-calendar font-medium-1"></i>
                                                        </div>
                                                    </fieldset>
                                                </li>
                                                <li>
                                                    <fieldset class="has-icon-left">
                                                        <input type="text" id="fin" value="@ViewBag.fin" name="fin" class="form-control single-daterange" />
                                                        <div class="form-control-position">
                                                            <i class="bx bx-calendar font-medium-1"></i>
                                                        </div>
                                                    </fieldset>
                                                </li>
                                                <li>
                                                    <fieldset class="has-icon-left">
                                                        <button class="btn btn-primary ">Search</button>
                                                    </fieldset>
                                                </li>
                                            </ul>
                                        </form>
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <fieldset class="has-icon-right">
                                                    <button class="btn btn-primary " onclick="javascript: Inicio();">Regresar</button>
                                                </fieldset>
                                            </li>
                                            <li>
                                                <fieldset class="has-icon-right">
                                                    <button class="btn btn-primary" onclick="exportTableToExcel('table-marketing-campaigns')">Export to Excel</button>
                                                </fieldset>
                                            </li>
                                        </ul>

                                    </div>
                                    <!-- Filtros -->
                                </div>
                            </div>
                            <div class="table-responsive">
                                <!-- table start -->
                                <table id="table-marketing-campaigns" class="table table-borderless table-marketing-campaigns mb-0">
                                    <thead>
                                        <tr style="font-size:10px;">
                                            <th class="text-center">material</th>
                                            <th class="text-center">tolvaNumber</th>
                                            <th class="text-center">releaseMaterial</th>
                                            <th class="text-center">materialOnTheWay</th>
                                            <th class="text-center">mixedMaterial</th>
                                            <th class="text-center">reqTrailerExchange</th>
                                            <th class="text-center">fillingLevel</th>
                                            <th class="text-center">startDate</th>
                                            <th class="text-center">endDate</th>
                                            <th class="text-center">startPlant</th>
                                            <th class="text-center">startWeight</th>
                                            <th class="text-center">endPlant</th>
                                            <th class="text-center">endWeight</th>
                                            <th class="text-center">creationDate</th>
                                            <th class="text-center">code</th>
                                        </tr>
                                    </thead>
                                    <tbody id="llenar_T">
                                        @foreach (var item in Model)
                                        {
                                            <tr style="font-size:12px;">
                                                <td class="py-1 line-ellipsis text-center">@Html.DisplayFor(modelItem => item.material)</td>
                                                <td class="py-1 line-ellipsis text-center">@Html.DisplayFor(modelItem => item.tolvaNumber)</td>
                                                <td class="py-1 line-ellipsis text-center">@Html.DisplayFor(modelItem => item.releaseMaterial)</td>
                                                <td class="py-1 line-ellipsis text-center">@Html.DisplayFor(modelItem => item.materialOnTheWay)</td>
                                                <td class="py-1 line-ellipsis text-center">@Html.DisplayFor(modelItem => item.mixedMaterial)</td>
                                                <td class="py-1 line-ellipsis text-center">@Html.DisplayFor(modelItem => item.reqTrailerExchange)</td>
                                                <td class="py-1 line-ellipsis text-center">@String.Format("{0:n0}", item.fillingLevel)</td>
                                                <td class="py-1 line-ellipsis text-center">@String.Format(" {0:M /d/yyyy}", item.startDate) @String.Format("{0:T}", item.startDate)</td>
                                                <td class="py-1 line-ellipsis text-center">@String.Format(" {0:M /d/yyyy}", item.endDate) @String.Format("{0:T}", item.endDate)</td>
                                                <td class="py-1 line-ellipsis text-center">@String.Format(" {0:M /d/yyyy}", item.startPlant) @String.Format("{0:T}", item.startPlant)</td>
                                                <td class="py-1 line-ellipsis text-right">@String.Format("{0:n2}", item.startWeight)</td>
                                                <td class="py-1 line-ellipsis text-center">@String.Format("{0:M/d/yyyy}", item.endPlant) @String.Format("{0:T}", item.endPlant)</td>
                                                <td class="py-1 line-ellipsis text-right">@String.Format("{0:n2}", item.endWeight)</td>
                                                <td class="py-1 line-ellipsis text-center">@String.Format("{0:M/d/yyyy}", item.creationDate) @String.Format("{0:T}", item.creationDate)</td>
                                                <td class="py-1 line-ellipsis text-center">@item.code</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <br />
                                <br />
                                <!-- table ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<script>
    @*var IdLinea = "" + @ViewBag.IdLinea;
    if (IdLinea != 0)
        document.getElementById("IdLinea").value = IdLinea;*@
</script>



